script(type="text/html", id="employees_tmpl").
    h3 Employees

    .alert(data-bind="visible: validationErrors().length > 0")
        button.close(data-dismiss="alert") x
        strong Errors
        p.small(data-bind="text: validationErrors")

    form.well.form.form-horizontal(method="post",
        data-bind="with: newEmployee, attr: {action: $root.postNewEmployeeUrl}")
        input(type="hidden", name="_csrf", value="#{csrf_token}")
        input(type="hidden", name="restaurantid", data-bind="value: $root.currentRestaurant")

        .control-group
            label.control-label Name
            .controls
                input(type="text", name="name", data-bind='value: name', placeholder="name")

        .control-group
            label.control-label Password
            .controls
                input(type="password", name="password", data-bind="value: password")

        .control-group
            label.control-label Confirm
            .controls
                input(type="password", data-bind="value: confirmed")

        .control-group
            label.control-label Role
            .controls
                select(name="role", data-bind="options: $root.roles, value: role, optionsText: 'name', optionsValue: 'value'")

        .control-group
            .controls
                button.btn.btn-primary(type="submit") Create


    .container(data-bind="foreach: employees")
        div.row.well
            h3
                <i class="icon-user"></i>
                span(data-bind="text: name")
            span.label.label-warning(data-bind="text: $root.getRoleName(role())")
            span.label.label-warning logged in

            a.btn.btn-small.pull-right(data-bind="click: deleteAction") delete
