script(type="text/html", id="foods_tmpl").
    .row-fluid.restaurant
        ul.thumbnails.foodstbody(data-bind="foreach: foods")
            li.span3
                .thumbnail
                    img(data-bind="attr: {src: thumbs[0]}")
                    b(data-bind='text: name.zh + "(" + name.en + ")"')
                    p(data-bind="text: price")
                    p(data-bind="text: description.zh")
                    p(data-bind="text: description.en")

    .buttons
        p: a.btn.btn-primary(data-bind="attr: {href: newFoodUrl}") New Food
