script(type="text/html", id="foods_tmpl").
    #js-food-details.modal.fade.hide
        .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
            h3 Modal header

        .modal-body
            .thumbnail(data-bind="with: selectedFood")
                img(data-bind="attr: {src: thumbs[0]}")
                p#js-name-en(data-bind="value: name.en")
                    small(data-bind='value: name.zh')
                p(data-bind="value: price")
                p(data-bind="text: description.en")
                    small(data-bind="text: description.zh")

        .modal-footer
            a.btn.btn-warning(href="#", data-dismiss="modal") Delete
            a.btn.btn-primary(href="#", data-dismiss="modal") Edit
            a.pull-left.btn(href="#", data-dismiss="modal") Dismiss
            a.btn.btn-primary(href="#") Save

    .container.row-fluid
        div(data-bind="foreach: foods")
            .media
                a(href="#", data-bind='click: $root.selectFood',
                    data-target="#js-food-details", data-toggle="modal")
                    img.pull-left(data-bind="attr: {src: thumbs[2]}")
                .media-body
                    a(href="#", data-bind='click: $root.selectFood',
                        data-target="#js-food-details", data-toggle="modal")
                        p(data-bind="text: name.en")
                        p(data-bind="text: name.zh")

    .buttons
        p: a.btn.btn-primary(data-bind="attr: {href: newFoodUrl}") New Food
