extends layout

block content
    #app-content

    script(type="text/html", id="restaurants_tmpl").
        h1 Restaurants
    
        div(data-bind="foreach: restaurants")
            a(data-bind="text: name, attr: {href: url()}, click: $root.enterRestaurant")


    script(type="text/html", id="foods_tmpl").            
        .row-fluid.restaurant(data-bind="with: currentRestaurant")
            ul.thumbnails.foodstbody(data-bind="foreach: foods")
                li.span3
                    .thumbnail
                        img(data-bind="attr: {src: picture}")
                        b(data-bind='text: name.zh + "(" + name.en + ")"')
                        p(data-bind="text: price")
                        p(data-bind="text: description.zh")
                        p(data-bind="text: description.en")
            
