doctype 5
html
    head
        title Foods Play
        link(href='http://fonts.googleapis.com/css?family=Corben:400,700|Nobile:400,700', rel='stylesheet')

        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')

        script(type="text/javascript", src="/jquery.js")
        script(type="text/javascript", src="/jquery.qrcode.min.js")
        script(type="text/javascript", src="/sammy.js")
        script(type="text/javascript", src="/jade.js")
        script(type="text/javascript", src="/jquery.formvalidator.min.js")
        script(type="text/javascript", src="/bootstrap/js/bootstrap.js")

        script(type="text/javascript", src="/knockout-2.2.1.js")
        script(type="text/javascript", src="/knockout.mapping-latest.js")
        script(type="text/javascript", src="/jquery.jeditable.js")

        // config.js is generated resource
        script(type="text/javascript", src="/config.js")
        script(type="text/javascript", src="/js/ko_editable.js")
        script(type="text/javascript", src="/js/controllers/validation.js")
        script(type="text/javascript", src="/js/controllers/metas_controller.js")
        script(type="text/javascript", src="/js/controllers/users_controller.js")
        script(type="text/javascript", src="/js/controllers/clients_controller.js")
        script(type="text/javascript", src="/js/controllers/orders_controller.js")
        script(type="text/javascript", src="/js/controllers/members_controller.js")
        script(type="text/javascript", src="/js/controllers/employees_controller.js")
        script(type="text/javascript", src="/js/controllers/foods_controller.js")
        script(type="text/javascript", src="/js/controllers/restaurants_controller.js")
        script(type="text/javascript", src="/js/controllers/admin_controller.js")
        script(type="text/javascript", src="/router.js")

    body
        .navbar.navbar-static-top
            .navbar-inner
                .brand(href='#') Foodsplay
                ul.nav
                    li: a#js-home.active(href='/')
                        i.icon-home
                        | Home

                    - if (everyauth.loggedIn && everyauth.user.kind === 3)
                        li: a(href='#/restaurants') Restaurants

                ul.nav.pull-right
                    - if (!everyauth.loggedIn)
                        li: a(href='/users/signin')
                            i.icon-signin
                            | Login
                    - else
                        li: a(href='#')
                            i.icon-user
                            span= user.email
                        li: a(href='/users/logout')
                            i.icon-signout
                            | Logout

                form.navbar-search.pull-right
                    input.search-query(type='text', placeholder='what you interested in')

        .container-fluid
            row-fluid
                .content.offset1.span10
                    block content

        include admin_user
        include businessuser
        include restaurants
        include restaurants_new
        include restaurants_edit
        include restaurant
        include foods
        include orders
        include members
        include employees
        include foods_new
        include members_new
        include metas
        include clients
