script(type="text/html", id="orders_tmpl").
    #js-order-details.modal.modal-wide.fade.hide.mailbox
        .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
            h3 Details

        .modal-body
            .row-fluid(data-bind="with: currentOrder")
                ul.thumbnails(data-bind="foreach: items")
                    li.span3
                        div.thumbnail
                            img(data-bind="attr: {src: food.thumbs[2]}")
                            span
                                h3(data-bind="text: food.name.en")
                                small(data-bind='text: food.name.zh')

                            div
                                span specification&nbsp;
                                span(data-bind="text: specification")
                            div
                                span flavor&nbsp;
                                span(data-bind="text: flavor.name.en")
                            div
                                span request&nbsp;
                                span(data-bind="text: request")
                            div
                                span method&nbsp;
                                span(data-bind="text: method")
                            div
                                span status&nbsp;
                                label.label.label-success(data-bind="text: statusName")

        .modal-footer
            a#close.btn.btn-primary(href="#", data-dismiss="modal") Close


    h3 Current Orders
    .row(data-bind="foreach: orders")
        div.span4
            div.mailbox.boxed
                div
                    label.label.label-success Date:
                    span(data-bind="text: date")
                div
                    label.label.label-success Guests:
                    span(data-bind="text: guestNumber")
                div
                    label.label.label-success Table:
                    span(data-bind="text: table.name.en")
                div
                    label.label.label-success Items:
                    span(data-bind="text: items.length")
                a(href="#", data-bind='click: $root.selectOrder',
                    data-target="#js-order-details", data-toggle="modal") details
