script(type="text/html", id="restaurant_tmpl").
    .btn-toolbar
        .btn-group
            a.btn.btn-success.dropdown-toggle(data-toggle="dropdown", href="#") Manage&nbsp;
                span.caret
            ul.dropdown-menu
                li: a(data-bind="attr: {href: foodsUrl()}") Foods
                li: a(data-bind="attr: {href: employeesUrl()}") Employees
                li: a(data-bind="attr: {href: ordersUrl()}") Current Orders
                li: a(data-bind="attr: {href: membersUrl()}") Members
                li: a(data-bind="attr: {href: metasUrl()}") Resources

        .btn-group
            a.btn.btn-success.dropdown-toggle(data-toggle="dropdown", href="#") Config&nbsp;
                span.caret
            ul.dropdown-menu
                li: a(data-bind="attr: {href: editUrl()}") Edit Restaurant
                li: a(data-bind="attr: {href: deleteUrl()}") Delete Restaurant

        .btn-group
            a.btn.btn-success.dropdown-toggle(data-toggle="dropdown", href="#") Statistics&nbsp;
                span.caret
            ul.dropdown-menu
                li: a(href="#") Daily Statistics
                li: a(href="#") Monthly Statistics
                li: a(href="#") Yearly Statistics

        .btn-group
            a.btn.btn-success.dropdown-toggle(data-toggle="dropdown", href="#") Status&nbsp;
                span.caret
            ul.dropdown-menu
                li: a(href="#") Withdraw Records
                li: a(href="#") Past Orders
                li: a(href="#") Foods Rankings
                li: a(href="#") Connected Pads

    .media.mailbox
        a.pull-left(href="#")
            img.media-object(style="max-width: 400px", src="/images/restaurant_bg.jpg")

        .media-body
            h1.media-heading
                span(data-bind="text: restaurant().name.en")
                small(data-bind="text: restaurant().name.zh")

            .container
                p(data-bind="text: restaurant().description.en")
                p(data-bind="text: restaurant().description.zh")
