script(type="text/html", id="restaurant_tmpl").
    .btn-toolbar
        .btn-group
            a.btn.btn-success.dropdown-toggle(data-toggle="dropdown", href="#") Manage&nbsp;
                span.caret
            ul.dropdown-menu
                li: a(data-bind="attr: {href: foodsUrl()}") Foods
                li: a(data-bind="attr: {href: employeesUrl()}") Employees
                li: a(data-bind="attr: {href: ordersUrl()}") Current Orders
                li: a(data-bind="attr: {href: '#'}") Members

        .btn-group
            a.btn.btn-success.dropdown-toggle(data-toggle="dropdown", href="#") Config&nbsp;
                span.caret
            ul.dropdown-menu
                li: a(href="#") Edit Restaurant
                li: a(href="#") Delete Restaurant

        .btn-group
            a.btn.btn-success.dropdown-toggle(data-toggle="dropdown", href="#") Statistics&nbsp;
                span.caret
            ul.dropdown-menu
                li: a(href="#") Withdraw Records
                li: a(href="#") Daily Statistics
                li: a(href="#") Monthly Statistics
                li: a(href="#") Yearly Statistics
                li: a(href="#") Past Orders
                li: a(href="#") Foods Rankings

        .btn-group
            a.btn.btn-success.dropdown-toggle(data-toggle="dropdown", href="#") Status&nbsp;
                span.caret
            ul.dropdown-menu
                li: a(href="#") Past Orders
                li: a(href="#") Foods Rankings
                li: a(href="#") Connected Pads

    .hero-unit
        page-header
            h1
                span(data-bind="text: restaurant().name.zh")
                small(data-bind="text: restaurant().name.en")
