body {
  /* background: $base-bg-color; */
  background: url("../images/background.png"); }

body {
  font-family: 'Nobile', Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Corben', Georgia, Times, serif; }

p, div, a {
  font-family: 'Nobile', Helvetica, Arial, sans-serif; }

.btn i {
  margin-right: 8px; }

h1, h2 {
  text-shadow: 2px 2px 2px #c9aaaa; }

h3, h4 {
  text-shadow: 1px 1px 1px #c9aaaa; }

.content {
  background: rgba(114, 169, 238, 0.11);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); }

.signin-container {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  padding-top: 40px; }

#app-content {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-pack: left;
  -moz-box-pack: left;
  -webkit-box-align: left;
  -moz-box-align: left;
  padding-top: 20px; }
  #app-content form textarea {
    width: 80%; }

a {
  color: #00B7FF; }

.editable {
  text-decoration: underline; }

/* expansion for bootstrap modal */
.modal-wide {
  width: 80%;
  left: auto;
  margin: 0 auto; }

.mailbox .modal-footer {
  background: transparent; }

.affix-sidebar {
  min-width: 160px;
  width: 16vw;
  padding: 0;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); }
  .affix-sidebar li > a {
    margin-left: 0;
    margin-right: 0; }

.mailbox {
  /* background: #F5E6DD; */
  background-image: -webkit-linear-gradient(left, rgba(51, 41, 31, 0.4) 0%, rgba(51, 41, 31, 0.3) 5%, rgba(51, 41, 31, 0.2) 12%, rgba(51, 41, 31, 0) 50%, rgba(51, 41, 31, 0.2) 88%, rgba(51, 41, 31, 0.3) 95%, rgba(51, 41, 31, 0.4) 100%), -webkit-linear-gradient(top, rgba(51, 41, 31, 0.2) 0%, rgba(51, 41, 31, 0) 20%, rgba(51, 41, 31, 0) 50%, rgba(51, 41, 31, 0.2) 88%, rgba(51, 41, 31, 0.3) 95%, rgba(51, 41, 31, 0.5) 100%);
  padding: 20px;
  border-radius: 20px;
  margin: 2px; }

.thumbnail {
  -webkit-box-shadow: 0 1px 15px rgba(67, 78, 77, 0.87);
  -moz-box-shadow: 0 1px 15px rgba(67, 78, 77, 0.87);
  box-shadow: 0 1px 15px rgba(67, 78, 77, 0.87);
  background: rgba(224, 224, 224, 0.54); }

.boxed {
  margin: 2px; }

.columns {
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto; }

.pin {
  -moz-column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
  display: inline-block;
  margin: 0 2px 15px;
  padding: 15px;
  -webkit-box-shadow: 0 1px 5px rgba(175, 187, 125, 0.74);
  -moz-box-shadow: 0 1px 5px rgba(175, 187, 125, 0.74);
  box-shadow: 0 1px 5px rgba(175, 187, 125, 0.74);
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: rgba(224, 224, 224, 0.54);
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease; }
  .pin img {
    width: 100%; }

@media all and (min-width: 800px) {
  .columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4; } }
@media all and (min-width: 1100px) {
  .columns {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5; } }
/* .columns:hover .pin:not(:hover) { */
/*     opacity: 0.6; */
/* } */
