body {
  background: #8a8a8a; }

.signin-container {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  padding-top: 40px; }

#app-content {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-pack: left;
  -moz-box-pack: left;
  -webkit-box-align: left;
  -moz-box-align: left;
  padding-top: 20px; }
  #app-content form textarea {
    width: 80%; }

a {
  color: #00B7FF; }

.editable {
  text-decoration: underline; }

/* expansion for bootstrap modal */
.modal-wide {
  width: 80%;
  left: 0;
  margin: 0-webkit-calc(10%);
  margin: 0-moz-calc(10%); }

.affix-sidebar {
  min-width: 160px;
  width: 16vw;
  padding: 0;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); }
  .affix-sidebar li > a {
    margin-left: 0;
    margin-right: 0; }
