$base-bg-color: #8A8A8A;
body {
    background: $base-bg-color;
}

@mixin pad-top($px) {
    padding-top: $px;
}

@mixin flex-container($pack) {
    display: -webkit-box;
    display: -moz-box;

    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;

    -webkit-box-pack: $pack;
    -moz-box-pack: $pack;


    -webkit-box-align: $pack;
    -moz-box-align: $pack;
}

.signin-container {
    @include flex-container(center);
    @include pad-top(40px);
}

#app-content {
    @include flex-container(left);
    @include pad-top(20px);

    form {
        textarea {
            width: 80%;
        }
    }
}

a {
    color: #00B7FF;
}

.editable {
    text-decoration: underline;
}

/* expansion for bootstrap modal */
.modal-wide {
    width: 80%;
    left: 0;
    margin: 0 -webkit-calc((100% - 80%)/2);
}

.affix-sidebar {
    min-width: 160px;
    width: 16vw;

    padding: 0;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

    li > a {
        margin-left: 0;
        margin-right: 0;
    }

}